html body{
	height: 100%;
	background-color: grey;
	min-width: 200px;
	max-width:1000px;
	text-align: center;
	
}
.test{
	display: inline-block;
	width: 720px;
	height: 120px;
	background-color: blue;
}