/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.top_mnu{
		display: none;
	}
	

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.top_addr{
		padding-left: 49px;
		
	}
	.ta_right{
		padding-left: 27px;
	}
}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	header h1 {
		background: rgba(0, 0, 0, 0.67);
		padding: 10px;
		border-radius: 20px;
		margin-top: 40px;
	}
	.logo{
		padding-top: 10px;
	}
	.top_addr{
		width: 233px;
		margin: 0 auto;
	}
	.ta_right{
		width: 262px;
		margin-top: 150px; 
		text-align: center;
	}

	.mc_item_wrap{
		margin: 10px auto;

	}

	.mc_item_wrap.active ul{
		position: absolute;
		left: 0;	
	}
	
	.mc_item_wrap.active ul li {
		display: block;
	}
	.about_us_header{
		text-align: center;
	}
	.about_us_headline{
		display: inline-block;
		width: 240px;
		text-align: center;
	}
	.about_us_buttton{
		float: none;
	}

}


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.tagline h2::before{
		content: "";
		position: absolute;
		top: 10px;
		width: 50px;
		height: 20px;
		background-image: url(../img/h2_b_ico.png);
		margin-left: -68px;
	}
	.tagline h2::after{
		content: "";
		position: absolute;
		top: 10px;
		width: 50px;
		height: 20px;
		background-image: url(../img/h2_b_ico.png);
		background-position: -50px 0;
		margin-left: 20px;
	}
	.s_black h2::before{
		content: "";
		position: absolute;
		top: 18px;
		width: 50px;
		height: 20px;
		background-image: url(../img/h2_ico.png);
		margin-left: -68px;
	}
	.s_black h2::after{
		content: "";
		position: absolute;
		top: 18px;
		width: 50px;
		height: 20px;
		background-image: url(../img/h2_ico.png);
		background-position: -50px 0;
		margin-left: 20px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.mc_item_wrap:nth-child(1){
		margin-left: 0;
	}

}


@media (min-width: 568px) and (max-width:760px){
	.ta_right{
		position: relative;
		top: -55px;
	}
}
