/**/

@font-face {
	font-family: 'Gotham Pro';
	src: url('GothamPro/GothamPro-BoldItalic.eot');
	src: local('Gotham Pro Bold Italic'), local('GothamPro-BoldItalic'),
		url('GothamPro/GothamPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('GothamPro/GothamPro-BoldItalic.woff') format('woff'),
		url('GothamPro/GothamPro-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Gotham Pro';
	src: url('GothamPro/GothamPro-Italic.eot');
	src: local('Gotham Pro Italic'), local('GothamPro-Italic'),
		url('GothamPro/GothamPro-Italic.eot?#iefix') format('embedded-opentype'),
		url('GothamPro/GothamPro-Italic.woff') format('woff'),
		url('GothamPro/GothamPro-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Gotham Pro';
	src: url('GothamPro/GothamPro-Medium.eot');
	src: local('Gotham Pro Medium'), local('GothamPro-Medium'),
		url('GothamPro/GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
		url('GothamPro/GothamPro-Medium.woff') format('woff'),
		url('GothamPro/GothamPro-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Pro';
	src: url('GothamPro/GothamPro-BlackItalic.eot');
	src: local('Gotham Pro Black Italic'), local('GothamPro-BlackItalic'),
		url('GothamPro/GothamPro-BlackItalic.eot?#iefix') format('embedded-opentype'),
		url(GothamPro/'GothamPro-BlackItalic.woff') format('woff'),
		url('GothamPro/GothamPro-BlackItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Gotham Pro';
	src: url('GothamPro/GothamPro-Bold.eot');
	src: local('Gotham Pro Bold'), local('GothamPro-Bold'),
		url('GothamPro/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
		url('GothamPro/GothamPro-Bold.woff') format('woff'),
		url('GothamPro/GothamPro-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Pro Narrow';
	src: url('GothamPro/GothamProNarrow-Bold.eot');
	src: local('Gotham Pro Narrow Bold'), local('GothamProNarrow-Bold'),
		url('GothamPro/GothamProNarrow-Bold.eot?#iefix') format('embedded-opentype'),
		url('GothamPro/GothamProNarrow-Bold.woff') format('woff'),
		url('GothamPro/GothamProNarrow-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Pro Narrow';
	src: url('GothamPro/GothamProNarrow-Medium.eot');
	src: local('Gotham Pro Narrow Medium'), local('GothamProNarrow-Medium'),
		url('GothamPro/GothamProNarrow-Medium.eot?#iefix') format('embedded-opentype'),
		url('GothamPro/GothamProNarrow-Medium.woff') format('woff'),
		url('GothamPro/GothamProNarrow-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Pro';
	src: url(GothamPro/'GothamPro-LightItalic.eot');
	src: local('Gotham Pro Light Italic'), local('GothamPro-LightItalic'),
		url('GothamPro/GothamPro-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('GothamPro/GothamPro-LightItalic.woff') format('woff'),
		url('GothamPro/GothamPro-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Gotham Pro';
	src: url('GothamPro/GothamPro-Light.eot');
	src: local('Gotham Pro Light'), local('GothamPro-Light'),
		url('GothamPro/GothamPro-Light.eot?#iefix') format('embedded-opentype'),
		url('GothamPro/GothamPro-Light.woff') format('woff'),
		url('GothamPro/GothamPro-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Pro Black'; 	
	src: url('GothamPro/GothamPro-Black.eot');
	src: local('Gotham Pro Black'), local('GothamPro-Black'),
		url('GothamPro/GothamPro-Black.eot?#iefix') format('embedded-opentype'),
		url('GothamPro/GothamPro-Black.woff') format('woff'),
		url('GothamPro/GothamPro-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Pro';
	src: url('GothamPro/GothamPro.eot');
	src: local('Gotham Pro'), local('GothamPro'),
		url('GothamPro/GothamPro.eot?#iefix') format('embedded-opentype'),
		url('GothamPro/GothamPro.woff') format('woff'),
		url('GothamPro/GothamPro.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Pro';
	src: url('GothamPro/GothamPro-MediumItalic.eot');
	src: local('Gotham Pro Medium Italic'), local('GothamPro-MediumItalic'),
		url('GothamPro/GothamPro-MediumItalic.eot?#iefix') format('embedded-opentype'),
		url('GothamPro/GothamPro-MediumItalic.woff') format('woff'),
		url('GothamPro/GothamPro-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

/**/

@font-face {
font-family: 'Myriad Pro Regular';
src: url('MyriadPro/MyriadPro-Regular.eot');
src: url('MyriadPro/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
url('MyriadPro/MyriadPro-Regular.woff') format('woff'),
url('MyriadPro/MyriadPro-Regular.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}



@font-face {
	font-family: 'Open Sans';
	src: url('OpenSens/OpenSans-Bold.eot');
	src: local('Open Sans Bold'), local('OpenSans-Bold'),
		url('OpenSens/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
		url('OpenSens/OpenSans-Bold.woff') format('woff'),
		url('OpenSens/OpenSans-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}


@font-face {
	font-family: 'Open Sans';
	src: url('OpenSens/OpenSans-Light.eot');
	src: local('Open Sans Light'), local('OpenSans-Light'),
		url('OpenSens/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
		url('OpenSens/OpenSans-Light.woff') format('woff'),
		url('OpenSens/OpenSans-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}



@font-face {
	font-family: 'Open Sans';
	src: url('OpenSens/OpenSans-Regular.eot');
	src: local('Open Sans Regular'), local('OpenSans-Regular'),
		url('OpenSens/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
		url('OpenSens/OpenSans-Regular.woff') format('woff'),
		url('OpenSens/OpenSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('OpenSens/OpenSans-SemiBold.eot');
	src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
		url('OpenSens/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('OpenSens/OpenSans-SemiBold.woff') format('woff'),
		url('OpenSens/OpenSans-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('OpenSens/OpenSans-ExtraBold.eot');
	src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'),
		url('OpenSens/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
		url('OpenSens/OpenSans-ExtraBold.woff') format('woff'),
		url('OpenSens/OpenSans-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}


