html body{
	height: 100%;
	background-color: green;
	min-width: 200px;
	max-width:1000px;
	text-align: center;
	
}
.test{
	display: inline-block;
	width: 180px;
	height: 120px;
	background-color: red;
}