*:focus {
	outline: 0;
}
body{
	font-family: 'Montserrat';
}
button {
	padding: 0;
	border: none;
	font: inherit;
	color: inherit;
	background-color: transparent;
}
.container{
	display: block;
	max-width: 1200px;
	margin: 0 auto;
	/*border:1px solid violet;*/
}
.Section__headline{
	display: inline-block;
	font-weight: 600;
	font-size: 36px;
	line-height: 44px;
	color: #000000;
	padding-right: 20px;
	border-right: 6px solid #CC191D;
	text-transform: uppercase;
}

/*header*/

#header{
	margin: 20px 0 5px 0;
}


.TimeWorkBlock{
	font-size: 14px;
	line-height: 17px;
	display: flex;
	align-items: flex-start;
	color: #4C4C4C;
	flex-flow: column nowrap;
	background-image: url(../img/timer-silhouette.svg);
	background-position: center left;
	background-repeat: no-repeat;
	padding-left: 50px;
	/*border: 1px solid red;	*/
}
.TimeWorkBlock p{
	padding: 5px 0;	
}
.HeaderContactBlock{
	display: flex;
	align-items: flex-end;
	color: #4C4C4C;
	flex-flow: column nowrap;
	background-image: url(../img/phone.png);
	background-position: center left;
	background-repeat: no-repeat;
	padding-left: 50px;
	/*border: 1px solid red;*/
	max-width: 272px;
}
.HeaderContactBlock a{
	padding: 5px 0;
	text-decoration: none;	
}
.HeaderContactBlock__PhoneLink{
	font-family: 'Roboto';
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	color: #000000;
}
.HeaderContactBlock__EmailLink{
	font-size: 14px;
	line-height: 17px;
	color: #4C4C4C;
}
.btn__block{
	border: 1px solid #CC191D;
}
.btnBackCall{
	width: 100%;
	height: 50px;
	background: #E5E5E5;
	text-align: center;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: #000000;
	position: relative;
	top: 10px;
	left: 10px;
	transition: all .2s ease-in-out;
	border-radius: 0;
}

.btnBackCall:hover{
	position: relative;
	top: 0;
	left: 0;
	background: #cc191d;
	color: #fff;
}
}.nav__item{
	list-style-type: none;
	margin-right: 40px;
}
.nav__link{
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: #000000;
	text-decoration: none;
}
.nav__link-active, .nav__link:hover{
	color: #CC191D;
}
.headline__block{
	overflow: hidden;
}
.headline{
	width: 733px;	
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	align-items: center;
	text-align: center;
	color: #CC191D;
	position: relative;
}
.headline:before, .headline:after{
	content: '';
	display: block;
	position: absolute;
	top: 50%;	
	height: 5px;
	width: 100%;
	border-top: 1px solid #CC191D;
}
.headline:before{
	position: absolute;
	left: 100%;
}
.headline:after{
	position: absolute;
	right: 100%;
}

/*finish header*/


/*SliderTop*/

.SliderTop__item{
	position: relative;
}
.SliderTop__ItemBlock{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}
.SliderTop__container{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-start;
	justify-content: center;
	height: 100%;
	color:#FFFFFF;
}

.SliderTop__headline{
	font-weight: 600;
	font-size: 36px;
	line-height: 44px;
	color: #FFFFFF;
	background: #000000;
	padding: 24px 36px 12px 50px;
}

#SliderTop{
	position: relative;
}

#SliderTop .owl-prev, #SliderTop .owl-next{
	width: 50px;
	position: absolute;
	top: 43%;
	color: #fff;
	font-size: 75px;
	opacity: 1;
}
#SliderTop .owl-prev{
	left: 130px;
}
#SliderTop .owl-next{
	right: 130px;
}
#SliderTop .owl-dots{
	position: absolute;
	bottom: 20px;
	left: 50%;
	-o-transform: translate(-50%);
	-ms-transform: translate(-50%);
	-moz-transform: translate(-50%);
	-webkit-transform: translate(-50%);
	transform: translate(-50%);
}
#SliderTop .owl-dot span{
	border: 1px solid #FFF;
	background-color: #ffffff00;
	box-sizing: border-box;
}
#SliderTop .owl-dot.active span{
	background-color: #fff;
}
#SliderTop .owl-dot:hover span{
	background-color: #ffffffad;
}
/*Fiish SliderTop*/

/*start footer*/
.footer{
	background: #000000;
	padding-top: 20px;
}
.footer a:hover{
	color: #cc191d;

}

.footerBlok_headline{
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	color: #FFFFFF;
	border-right:3px solid  #CC191D;
	display: inline-block;	
	padding-right: 10px;
	margin: 20px 0; 		
}

.footerBlok_ListItem{
	margin: 10px 0;	
}

.footerBlok_ListLink{
	font-size: 14px;
	line-height: 17px;
	color: #FFFFFF;
	text-decoration: none;	
}
.ContactBlock__link-phone{
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	color: #C4C4C4;
}

.FooterBottom{
	padding: 14px 0;
	border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.CopyrightBlock__label{
	font-size: 12px;
	line-height: 15px;
	color: rgba(255, 255, 255, 0.65);
}

#FooterFormSearch{
	width: 440px;
	height: 30px;
}

#FooterFormSearch label{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	width: 100%;
	height: 100%;
	border-radius: 30px;
	padding: 0 20px 0 38px;
	box-sizing: border-box;
	cursor: pointer;
	background-color: #fff;
}

#FooterFormSearch__InputSearch{
	flex-grow: 1;
	background-color: transparent;
	border: none;
	font: inherit;
	color: inherit;
}
#FooterFormSearch__ButtonSearch{
	width: 25px;
	padding: 0;
	border: none;
	font: inherit;
	color: inherit;
	background-color: transparent;
	background-image: url(../img/search.svg);
	background-position: center;
	background-repeat: no-repeat;
}


/*finish footer*/


/*nav*/
.cf:before,
.cf:after {
	content: " ";
	display: table;
}

.cf:after {
	clear: both;
}


ul.navbar {
	background: #fff;
	width:100%;
	position: relative;
}

ul.navbar li {
	float: left;
	margin: 0;
	position: relative;
	z-index: 999;
}

ul.navbar li a {
	display: block;
	padding: 13px 15px;
	color: #000 !important;
	text-decoration: none;
	text-transform: uppercase;
	transition: all .2s ease-in-out;
}

ul.navbar li a:hover,
ul.navbar li:hover > a {
	color: #CC191D !important;
}

ul.navbar li ul {
	margin: 0;
	position: absolute;
	background: #fff;
	left: 10%;
	font-size: 10px;
	min-width: 230px;
	opacity: 0;
	visibility: hidden;
	z-index: 99;
	transition: all 1s ease;
}

ul.navbar ul li { float: none; border-bottom: 1px solid #EDEDED;}
ul.navbar li:hover > ul { opacity: 1; visibility: visible; left: 0; max-height: 400px }
ul.navbar > li:hover > ul { opacity: 1; visibility: visible; top: 100%; left: 0; }
ul.navbar li > ul  ul { top: 0; left: 90%; }
ul.navbar li > ul li:hover > ul { left: 100%; }
/*finish nav*/


/*nav*/
.cf:before,
.cf:after {
	content: " ";
	display: table;
}

.cf:after {
	clear: both;
}


ul.navbar {
	background: #fff;
	width:100%;
	position: relative;
}

ul.navbar li {
	float: left;
	margin: 0;
	position: relative;
	z-index: 999;
}

ul.navbar li a {
	display: block;
	padding: 13px 15px;
	color: #000 !important;
	text-decoration: none;
	text-transform: uppercase;
	transition: all .2s ease-in-out;
}

ul.navbar li a:hover,
ul.navbar li:hover > a {
	color: #CC191D !important;
}

ul.navbar li ul {
	margin: 0;
	position: absolute;
	background: #fff;
	left: 10%;
	font-size: 10px;
	min-width: 230px;
	opacity: 0;
	visibility: hidden;
	z-index: 99;
	transition: all 1s ease;
}

ul.navbar ul li { float: none; border-bottom: 1px solid #EDEDED;}
ul.navbar li:hover > ul { opacity: 1; visibility: visible; left: 0; max-height: 400px }
ul.navbar > li:hover > ul { opacity: 1; visibility: visible; top: 100%; left: 0; }
ul.navbar li > ul  ul { top: 0; left: 90%; }
ul.navbar li > ul li:hover > ul { left: 100%; }
/*finish nav*/


