/*Flange BQ Regular*/
@font-face {
	font-family: 'FlangeBQ';
	src: url('../fonts/flange_bq_regular/flange_bq_regular.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/flange_bq_regular/flange_bq_regular.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/flange_bq_regular/flange_bq_regular.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/flange_bq_regular/flange_bq_regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/flange_bq_regular/flange_bq_regular.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/flange_bq_regular/flange_bq_regular.svg#flange_bq_regular') format('svg'); /* Chrome < 4, Legacy iOS */
}

/*MyriadPro Regular*/
@font-face {
	font-family: 'MyriadPro';
	src: url('../fonts/myriadpro-regular/myriadpro-regular.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/myriadpro-regular/myriadpro-regular.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/myriadpro-regular/myriadpro-regular.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/myriadpro-regular/myriadpro-regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/myriadpro-regular/myriadpro-regular.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fontsmyriadpro-regular//myriadpro-regular.svg#myriadpro-regular') format('svg'); /* Chrome < 4, Legacy iOS */
}

/*BrutalType light*/
@font-face {
	font-family: 'BrutalTypeLight';
	src: url(../fonts/brutal_type_light/brutal_type_light.otf),
	url('../fonts/brutal_type_light/brutal_type_light.ttf') format('truetype');
}

