/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	#main{
		min-height: 100%
	}
	.main_tagline_lable, .main_nav {
		display: none;
	}
	.main_tagline_group{
		position: relative;
		bottom: 125px;
	}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	#main{
		min-height: 100%
	}
	.main_tagline_lable, .main_nav {
		display: none;
	}
	.main_tagline_group{
		position: relative;
		bottom: 0px;
	}
	/*.main_img{
		display: none;
		}*/

		/* section contacts */
		.form_backcall{
			padding-top: 20px;
			height: auto;
			border-top: 1px solid #fff;
			border-radius: 0;
		}
		.label_inp{
			text-align: center;
		}
		.span_section_body{
			display: none;
		}

		.inp_t_form_backcall{
			width: 110px;
		}

		/* Test start */
		.basket_box{
			display: none;
		}

		.logo{
			width: 100%;
			text-align: center;
			margin-top: 70px;
		}
		.logo img{
			display: inline-block;
			width: 75%;
		} 
		.headline_section{
			font-size: 35px;
			line-height: 35px;
		}
		.main_tagline{
			font-size: 24px;
			line-height: 30px;
		}
		.main_img{
			display: block;
			height: 200px;
			width: auto;
			position: absolute;
			bottom: 33%;
			left: 30%;
		}
		.section_body{
		padding-top: 5px;
	}
	.headline_txt, .slider_control_direction_headline{
		font-size: 24px;
		line-height: 30px;
	}
	.about_the_brand_txt,{
		margin-bottom: 20px;
	}
	.slider_control_direction_txt{
		font-size: 16px;
		line-height: 1.5;
	}
	.btn_rich{
		margin-top: 50px;
	}
	.contacts_list_box{
		height: 300px;
		margin-top: 30px;
	}



		/*Test finish*/

	}

	/* Custom, iPhone Retina */
	@media only screen and (max-width : 320px) {

	}


	/*==========  Mobile First Method  ==========*/

	/* Custom, iPhone Retina */
	@media only screen and (min-width : 320px) {

	}

	/* Extra Small Devices, Phones */
	@media only screen and (min-width : 480px) {

	}

	/* Small Devices, Tablets */
	@media only screen and (min-width : 768px) {

	}

	/* Medium Devices, Desktops */
	@media only screen and (min-width : 992px) {

	}

	/* Large Devices, Wide Screens */
	@media only screen and (min-width : 1200px) {
	/*#main{
		background:
		url(../img/img_bg/main_bg_around_1.png) 110px -95px no-repeat,
		url(../img/img_bg/main_bg_around_2.png) 515px 270px no-repeat,
		url(../img/img_bg/bg_section_main.jpg);
		}*/

		#about_the_brand .section_header{
			background:
			url(../img/img_bg/bg_rich.png) -22% 10% no-repeat,
			url(../img/img_bg/bg_section_1.png) center;
		}
		#our_juice .section_header{
			background: 
			url(../img/img_bg/bg_rich.png) 125% 37% no-repeat,
			url(../img/img_bg/bg_our_juice_1.png) -24% -1141% no-repeat,
			url(../img/img_bg/bg_section_2.png) center;
		}
		#more_than_juice .section_header{
			background: 
			url(../img/img_bg/bg_rich.png) -33% -5% no-repeat,
			url(../img/img_bg/bg_section_3.png) center;
		}
		#more_than_juice{
			background: url(../img/img_bg/bg_krasnii-pesok.png) 113% 20% no-repeat;
		}
		#contacts{
			background:		
			url(..img/img_bg/bg_rich.png) -50% 83% no-repeat,
			url(../img/img_bg/bg_contacts_2.png) 155% 87% no-repeat;
			background-color: #d8272d;
		}
		#contacts .section_header{
			background:
			url(../img/img_bg/bg_contacts_1.png) -38% 191% no-repeat,
			url(../img/img_bg/bg_rich.png) 116% 26% no-repeat,
			url(../img/img_bg/bg_section_2.png) center;
		}

	}