html, body{
	font-family: "Open Sans"
}
.container{
	max-width: 1259px;
	margin: 0 auto;
	padding: 0 20px;}



/*header*/

.header{
	background-color: #0f89f4;
}
.header__container{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;	
	justify-content: space-between;
	align-items: center;
	height: 80px;
}
.logo__fonts{
	color: #ffffff;
	font-size: 35px;
	font-weight: 400;
	line-height: 35px;
	letter-spacing: 0.72px;
}
.header__nav{
	width: 85%;
	position: relative;
	left: 10px;
	

}
.nav__list{
	list-style-type: none;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-start;
	height: 35px;
}

.nav__link{
	color: #d2e7fb;
	font-size: 14px;
	font-weight: 400;
	line-height: 35px;
	letter-spacing: -0.54px;
	text-decoration: none;
	margin: 0 	 15px;
}
.nav__link:hover{
	text-decoration: underline;
}



/*first_screen*/

.first_screen{
	min-height: 600px;
	background-color: #0f89f4;
	padding-top: 95px;
}

.first_screen__container{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: flex-start;
	flex-flow: row wrap;
}

/*description_box*/
.description_box{
	width: 50%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	padding-right: 90px;
}

.description_box__headline{
	width: 400px;
	color: #ffffff;
	font-size: 34px;
	font-weight: 400;
	line-height: 43px;
	letter-spacing: 0.2px;
	
}
.description_box__description_txt{
	max-width: 510px;
	color: #d2e7fb;
	font-size: 15px;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: -0.3px;
	margin:26px 0 28px 0;
}
.description_box__links_box{
	width: 476px;
}
.description_box__btn_viem_all{
	display: inline-block;
	padding: 22px 45px; 
	background-color: #9addfc;
	color: #345477;
	font-size: 17px;
	font-weight: 600;
	line-height: 17px;
	text-transform: uppercase;
	letter-spacing: -0.68px;
	text-decoration: none;
	text-align: center;
	border-radius: 8px;
}
.description_box__link_watch_video{
	display: block;
	width: 230px;
	font-size: 14px;
	font-weight: 400;
	line-height:18px;
	text-decoration: underline;
	letter-spacing: -0.56px;
	color: #95c9fb;
	letter-spacing: -0.08px;
	text-align: center;
	background-image: url(../img/icon_video.png);
	background-repeat: no-repeat;
	background-position: 183px 1px;
	margin-top: 13px;
	position: relative;
	left: -9px;
	top: 0px;
}

.first_screen__img_box{
	display: block;
	width: 50%;
	background-image: url(../img/first_screen__img.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	min-width: 50%;
	min-height: 430px;
	position: relative;
	bottom: 105px;
	right: 83px;
}


/*first_screen customer_unit*/

.first_screen__customer_unit{
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	position: relative;
	bottom: 56px;
}

.customer_unit__label{
	color: #a3d0fc;
	font-size: 15px;
	font-weight: 400;
	line-height: 49.78px;
	letter-spacing: -0.3px

}

.customer_unit__list_clients{
	list-style-type: none;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-start;
	width: 55%;
}

.list_clients__item{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 32px;
}
.list_clients_img{
	width: 100%;
}

/*carousel*/
.carousel__container{
	padding:0 0;
}
.carousel__link{
	outline: none;
	text-decoration: none;
}
.carousel__headline{	
	text-align: center;
	color: #315479;
	font-size: 20px;
	font-weight: 400;
	line-height:27px;
	text-transform: uppercase;
	letter-spacing: -0.65px;
	margin-top: 30px;
}

/*our_features*/
.our_features{
	margin-bottom: 95px;

}
.our_features__container{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

.our_features__headline{
	display: block;
	max-width: 580px;
	color: #315479;
	font-size: 32px;
	font-weight: 400;
	line-height: 42px;
	letter-spacing: -0.6px;
	text-align: center;
	margin-top: 60px;
	margin-bottom: 48px;
}

.our_features__article{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 40px;
}

.article__description{
	width: 50%;
}
.article__headline{
	font-weight: 400;
	color: #315479;
	font-size:25px;
	letter-spacing: -0.5px;
	line-height: 61.78px;
	margin-bottom: 20px;	
}
.article__txt{
	max-width: 450px;
	color: #677482;
	font-size: 20px;
	letter-spacing: 0.7px;
	line-height: 32px;
	margin-bottom: 34px;
}
.article__img_box{
	display: block;
	width: 50%;
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	min-width: 50%;
	min-height: 380px;
}
.article__img_1{
	background-image: url(../img/article_img_1.jpg);
}
.article__img_2{
	background-image: url(../img/article_img_2.jpg);
}



/*reviews*/
.reviews{
	margin: 0px 0 94px 0;
}
.reviews__container{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	flex-flow: row wrap;
}
.reviews__headline{
	width: 100%;
	text-align: center;
	color: #315479;
	font-size: 34px;
	font-weight: 400;
	line-height: 35px;
	letter-spacing: 0.2px;
	margin-bottom: 74px;
}
.reviews__item{
	width: 362px;
}
.reviews__txt{
	color: #ffffff;
	font-size: 16px;
	font-weight: 400;
	line-height: 25px;
	letter-spacing: 0px;
	background-color: #158af4;
	padding: 40px 40px 40px 60px;
	background-image: url(../img/reviems__icon.png);
	background-repeat: no-repeat;
	background-position: 25px 32px;
	position: relative;
	border-radius: 6px;
	margin-bottom: 21px;
}
.reviews__txt:after{
	content: ' ';
	display: block;
	width: 80px;
	height: 100px;
	background-color: #158af4;
	transform: rotate(60deg);
	position: absolute;
	bottom: -5px;
	left: 25px;
	z-index: -5;
}
.reviews__author{
	color: #315479;
	font-size: 18px;
	letter-spacing: -0.36px;
	line-height: 18px;
	padding-left: 5px;
}
.reviews_company{
	color: #677482;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: -0.28px;
	line-height: 18px;
	padding-top: 5px;
	padding-left: 6px;
}


/*cta_section*/
.cta_section{
	min-height: 356px;
	background-color:#0f88f3;
}
.cta_section__container{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	min-height: 356px;
}
.cta_section__headline{
	color: #ffffff;
	font-size: 32px;
	font-weight: 400;
	line-height:40px;
	letter-spacing: -0.68px;
	max-width: 750px;
	text-align: center;
}
.cta_section__description{
	color: #d2e7fb;
	font-size: 16px;
	font-weight: 400;
	line-height: 25px;
	letter-spacing: -0.32px;
	margin: 25px 0 38px 0;
}

.cta_section__btn{
	display: inline-block;
	padding: 22px 40px; 
	background-color: #9addfc;
	color: #345477;
	font-family: "Open Sans";
	font-size: 17px;
	font-weight: 600;
	line-height: 17px;
	text-transform: uppercase;
	letter-spacing: -0.32px;
	text-decoration: none;
	text-align: center;
	border-radius: 6px;
}




/*footer*/

.footer__container{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-flow: column nowrap;
}
.footer__info_box{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	min-height: 212px;
}
.info_box__column{
	width: 270px;
	margin-left: 15px;
	min-height: 120px;

}
.column__headline{
	color: #3974ca;
	font-family: "Open Sans";
	font-size: 13px;
	font-weight: 700;
	line-height: 20px;
	text-transform: uppercase;
	letter-spacing: -0.5px;
	margin-bottom: 16px;
	margin-top: 12px;
}
.column_txt{
	color: #323232;
	font-family: "Open Sans";
	font-size: 15px;
	font-weight: 400;
	line-height: 21px;
	letter-spacing: -0.3px;
}
.column__social_list{
	list-style-type: none;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.social_list__item{
	margin: 10px;
}
.copyright_box{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	height: 150px;
}
.copyright__txt{
	display: inline;
	color: #323232;
	font-size: 12px;
	font-weight: 400;
	line-height: 22px;
	padding-left: 15px;
}